<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>List</ion-title>
    </ion-navbar>
</ion-header>
<ion-grid class="padding-none">
    <ion-row class="logo-bar">
        <ion-col col-12>
            <div class="text-center">
                <img src="../../assets/imgs/o2labs-logo.png" alt="">

            </div>
            <!-- <h1 class="logo text-center">O2Labs</h1> -->
        </ion-col>
    </ion-row>
    <ion-grid class="content">
        <ion-row>
            <ion-col col-12 col-lg-1></ion-col>
            <ion-col col-12 col-lg-10>
                <div class="main-header text-center"> Start at boot?</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 col-lg-2></ion-col>
            <ion-col col-12 col-lg-8>
                <div class="sub-header text-center text-margin-bottom">would you like to launch this player every time the system start up.</div>
            </ion-col>
            <ion-col col-12 col-lg-2></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <div class="text-center text-margin-bottom">
                    <button ion-button class="btn-yes">yes</button>
                    <button ion-button class="btn-no">no</button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <div class="text-center footer">
                    if no action taken,defaulting to <b>YES</b> in 60 seconds
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>