.logo {
    font-size: 80px;
    line-height: 150px;
}

.logo-bar {
    background-color: #0066cc;
    color: white;
}

.content {
    padding-top: 155px;
    height: 100vh;
    background-color: #d5eef8;
}

.main-header {
    font-size: 60px;
    font-weight: bold;
    color: #126f91;
}

.sub-header {
    font-size: 30px;
    color: #126f91;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 400;
}

.footer {
    font-size: 30px;
    color: #126f91;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.text-margin-bottom {
    margin-bottom: 32px;
}

.btn-yes {
    padding: 35px 50px;
    background: #1d76ba;
    font-size: 20px;
}

.btn-no {
    padding: 35px 50px;
    background: #fff;
    color: #222222;
    font-size: 20px;
}

.padding-none {
    padding: 0px;
}

@media (max-width:1550px) {
    .content {
        padding-top: 65px;
    }
}

@media(max-width:1440px) {
    .sub-header {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(max-width:1400px) and (min-width:1300px) {
    .logo {
        font-size: 77px;
        line-height: 90px;
    }
    .main-header {
        font-size: 50px;
    }
    .text-margin-bottom {
        margin-bottom: 0px;
    }
    .btn-yes,
    .btn-no {
        padding: 20px 25px;
    }
    .sub-header {
        padding-left: 22%;
        padding-right: 22%;
        font-size: 20px;
    }
    .footer {
        font-size: 20px;
    }
}