<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>List</ion-title>
    </ion-navbar>
</ion-header>
<ion-grid class="padding-none">
    <ion-row class="logo-bar">
        <ion-col col-12>
            <div class="text-center">
                <img src="../../assets/imgs/o2labs-logo.png" alt="">

            </div>
        </ion-col>
    </ion-row>
    <ion-grid class="content">
        <ion-row>
            <ion-col col-12 col-lg-1></ion-col>
            <ion-col col-12 col-lg-10>
                <div class="main-header text-center success-msg-color">Registration Successfull!</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 col-lg-2></ion-col>
            <ion-col col-12 col-lg-8>
                <div class="sub-header text-center success-msg-color">Now, you can start scheduling content to this screen from your <b>O2Signage.</b></div>
                <ion-col col-12 col-lg-2></ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>