page-player-sucess {
    .success-msg-color {
        color: #0f7b3e;
    }
    .content {
        background: #d9f3d8;
    }
    @media(max-width:1440px) {
        .sub-header {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}